* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.text {
    font-family: "Aldrich", sans-serif;
    font-size: x-large;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 00px 30px 0px 20px;
    margin-top: 0;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 72px;
    mix-blend-mode: screen;
}

.logo h1 {
    font-family: "Aldrich", sans-serif;
    font-size: 30px;
}

table {
    width: 100%;
}

.col-width1 {
    width: 87%;
}

.col-width2 {
    width: 13%;
    background-color: #3d8279;
    border-radius: 20px;
}

.col-width2 .back{
    border-radius: 10px;
    text-align: center;
    font-size: x-large;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 72px);
    color: white;
}

.container h1 {
    font-family: "Aldrich", sans-serif;
}

.box {
    background: transparent;
    backdrop-filter: blur(25px);
    width: 900px;
    height: 700px;
    margin-top: 30px;
    font-size: large;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 20px 10px 20px;
    align-items: center;    
    text-align: center;
    font-family: "Afacad Flux", sans-serif;
}

.box h2 {
    text-align: left;
    margin-top: 20px;
}

.box img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
}

.placeholder {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding-left: 20px;
    color: black;
    text-align: left;
    margin-top: 5px;
    font-size: large;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.box a {
    color: #deec11;
    font-weight: bolder;
}

span {
    color: white;
    font-weight: bolder;
}

a {
    color: white;
    transition: 0.6s;
}

a:hover {
    color: black;
}